.certificate-image {
    max-width: 96%; 
    border-radius: 6px;
    margin: 2%;
}
.left-sidebar-my-course .thumb img{
    width: auto;
    min-width: 100px;
}
.left-sidebar-my-course {
    padding-left: 25px;
}