.form-control {
    padding: 10px 15px!important; 
    
}
.col-md-8 .col-md-12 .col-md-12 .row {
    padding: 10px
}
.col-md-8 .col-md-12 select {
    height: 45px!important;    
}
.col-md-12 .col-md-12 .row .col-md-3 {
    text-align: right; 
    font-weight: bold; 
}
.padding-25 .col-md-3 {
    text-align: right; 
}
.col-md-8 > .col-md-12 > .col-md-3 {
    text-align: right; 
    font-weight: bold; 
}
.profile-photo-img-small {
    height: 100px; 
    margin-bottom: 30px
}    